<div class="plates-container">
  <fieldset>
    <legend>Enter a number to get the corresponding car plate</legend>
    <div class="plate-input-field">
      <mat-form-field>
        <mat-label>Number</mat-label>
        <input matInput type="text" inputmode="numeric" [formControl]="licensePlateControl">
      </mat-form-field>
      <button mat-icon-button type="button" (click)="setLicensePlate()" [disabled]="licensePlateControl.invalid">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </fieldset>
  <div class="plate">
    <span class="plate-country">ES</span>
    <span class="plate-number">{{ licensePlate ?? '_ _ _ _ _ _' }}</span>
  </div>
</div>
