<!-- Given an array of URLs and a MAX_CONCURRENCY integer, implement a function that will asynchronously
fetch each URL, not requesting more than MAX_CONCURRENCY URLs at the same time. The URLs should be
fetched as soon as possible. The function should return an array of responses for each URL.
How would you write a test for such a function? -->
<div class="queued-requests">
  <mat-card class="completed-card">
    <mat-card-header>
      <mat-card-title>Completed</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (responses | async; as responses) {
      @for (response of responses; track response) {
      <p>{{response | json}}</p>
      }
      }
    </mat-card-content>
  </mat-card>
</div>
